BODY { background-color: #4682B4; color: #ffffff; }

table.selectorBorder { }
table.dataTable { width: 100%; border-width: 1px; border-style: groove }
table.dataTable td { border-width: 1px; border-style: inset }
table.mainLayout { width: 100% }

td.leftLayout { vertical-align: top; border-width: 3px; border-style: ridge }
td.rightLayout { padding: 0px 8px 16px 8px; text-align: left; vertical-align: top; border-width: 3px; border-style: ridge }

span.sortButton { padding: 2px; text-decoration: none; color: #000000; background-color: #eeeeee; border-width: 2px; border-style: outset }
a:link { text-decoration: underline; color: #ffffff; background: none; }
a:visited { text-decoration: underline; color: #800080; background: none; }
a:active { text-decoration: none; color: #50aaff; background: none; }
a:hover { text-decoration: underline; color: #0000ff; background: none; }


/* Turn off list bullets */
ul.aqtree3clickable li { list-style: none; }

ul.aqtree3clickable, ul.aqtree3clickable ul, ul.aqtree3clickable li {
  margin: 0; padding: 0; 
}

/* This controls the indent for each sublist */
ul.aqtree3clickable ul {
  padding-left: 20px;
}

/* Provide space for our own "bullet" inside the link */
ul.aqtree3clickable li a { padding-left: 20px; }

/* Show "bullets" in the links, depending on the class of the
   LI that the link's in */
ul.aqtree3clickable li.aq3open a {
    background: url(minus.png) center left no-repeat;
}
ul.aqtree3clickable li.aq3closed a {
    background: url(plus.png) center left no-repeat;
}
ul.aqtree3clickable li.aq3bullet a {
    background: url(bullet.png) center left no-repeat;
}

/* Actually show and hide sublists */
ul.aqtree3clickable li.aq3open ul { display: block; }
ul.aqtree3clickable li.aq3closed ul { display: none; }
